@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}
html, body{
    height: 100%;
    margin: 0%;
}
body{
    background-image: linear-gradient(to top, rgba(1, 150, 250, 0.911), rgba(1, 101, 250, 0.699), rgba(1, 150, 250, 0.562));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#main{ 
    text-align: center;
    background-color: white;
    margin: auto; 
    margin-top: 150px;
    width: 200px;
    height: 200px;
    border-style: groove;
    border-color: rgba(0, 0, 0, 0.377);
    border-radius: 5px;
    padding: 10px 0px 10px 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.192);
    
}
#divnome{
    text-align: left;
    margin-top: 10px;
    height: 50px;
    width: 150px;
}
#divsenha{
    text-align: left;
    margin-top: 3px;
    height: 50px;
    width: 150px;
}
#divbutão{
    margin-top: 3px;
}

#login{
    background-color:rgba(169, 169, 169, 0.301);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.404);
}
#senha{
    background-color: rgba(169, 169, 169, 0.301);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.404);
}

#entrar{
    background-image: linear-gradient(to top, rgba(128, 128, 128, 0.5), white, rgba(128, 128, 128, 0.5));
    margin-bottom: 5px;
    position: relative;
    bottom: 10px;
}
.links{
    position: relative;
    bottom: 15px;
    
}